#code-snippet-generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    @media (max-width: 768) {
        padding: 40px;
    }
}

.snippet-input {
    margin-bottom: 20px;
}


.snippet-output {
    border: none;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: none;
    /* Initially hide the output */
}

.snippet-output img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

#live-preview {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    color: #60c69d;
}

.live-preview-card {
    max-width: 45rem;
    max-width: 45rem;
    width: 490px;
    height: 333px;
    margin: 12px auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}

.tools-parent {
    display: flex;
    justify-content: space-between;
}

.tools-place {
    display: flex;
    align-items: center;
    padding: 9px;
}

.title {
    margin-right: 20px;
    font-size: 12px;
    color: rgb(75, 197, 157);
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

#codeInput {
    max-height: 45rem;
    height: 15rem;
    width: 100%;
    color: #60c69d;
    background-color: transparent;
    border: none;
    padding: 10px;

    &:focus {
        outline: none;
    }
}

#downloadButton {
    margin: 1rem 5rem;
    /* padding: 10px; */
    /* Adjust padding as needed */
    background-color: #344266;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #8c98b9;
        /* Adjust hover color as needed */
    }
}

.snippet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    /* Ensure the background covers the entire container */
}

.title input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #dddddd04;
    border-radius: 4px;
}

#snippetTitle {
    background-color: transparent;
    color: #60c69d;
}

#snippetImage {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#snippet-input {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    .snippet-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .live-preview-card {
        width: 325px;
        height: 313px;
        margin: 0;
        /* Remove margin for larger screens */
    }

    #codeInput {
        width: 70%;
        /* Adjust width for larger screens */
    }
}