body {
    overflow-x: hidden;
}
#author {
    font-weight: 700;
    color: #949494;
    cursor: pointer;
}
/* dark-mode */
#author.dark-mode {
    color: hsl(177, 100%, 55%);
    font-size: 16px;
    &:hover {
        border: 1px solid #17c9e9;
        background-color:#17c9e9;
        color: #000;
        border-radius: 4px;
    }
}

/* Section Styling */

#code-editor,
#live-preview,
#code-snippets,
#contributions {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



ol, ul, li {
    line-height: 1.5;

}
/* Code Styling */

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 90%;
}

/* dark-mode */

code.dark-mode {
    background-color: #17cae946;
    border: 1px solid #17c9e9
}
#code-block.dark-mode {
    background-color: rgb(3, 10, 32);
    color: aqua;
}
pre.dark-mode {
    background-color: rgb(3, 10, 32);
}


/* Section Title Styling */
.section-title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.tool-title {
    font-size: 28px;
    font-weight: bold;
    color: #006d77;
}
.tool-title.dark-mode {
    color: #17c9e9;
}

.line-span {
    border-top: 2px solid #006d77;
    display: inline-block;
    height: 2px;
    width: 30px;
    margin: 0 10px;
}

.line-span .dark-mode {
    border-top: 2px solid #00eaff;

}
/* Section Styling */
.doc-section {
    margin: 40px 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seperator-section {
    text-align: center;
    margin: 40px 20px;
    padding: 20px;
    background-color: #9bd4d583;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.seperator-section.dark-mode {
    background-color: rgb(3, 10, 32);

}

/* dark-mode for doc sections */
.doc-section.dark-mode,
#code-editor.dark-mode,
#live-preview.dark-mode,
#code-snippets.dark-mode,
#contributions.dark-mode,
.seperator-section.dark-mode{
  background-color: var(--bg-dark-section);

}

/* Copyable Code Styling */

pre {
    position: relative;
    padding: 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
    overflow: auto;
}

.copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

/* Responsive Styling */

@media only screen and (max-width: 768px) {

    #code-editor,
    #live-preview,
    #code-snippets {
        margin: 20px;
        padding: 10px;
    }

    .section-title {
        margin-top: 80px;
    }
}