.big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.html-to-jsx {
  display: flex;

}

.editor-parent {
  margin: 10px;
  background-color: #3c5169;
}

.code-container {
  width: 40em;
  height: 20em;
}
.terminal_toolbar {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #303d5a;
    color: #00ffb3;

  }
  
  .terminal_toolbar.dark-mode {
    background-color: #1a6b78e6;
    color: #2ed8f7;
  }
  
  .butt {
    display: flex;
    align-items: center;
  }
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  }
.red {
    background: #ff605c;
  }
  
  .yellow {
    background: #ffbd44;
  }
  
  .green {
    background: #00ca4e;
  }
  
#editor {
  width: 99%;
  height: 18rem;
  background-color: transparent;
  color: #2ed8f7;
  border: none;
}

.convert-btn {
  
  display: inline-block;
  padding: 15px 30px;
  background: rgba(11, 24, 68, 0.808);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.convert-btn:hover {
  background: rgba(148, 161, 201, 0.808);/* Hover background color for both modes */
  color: #fff;
}