html {
  scroll-behavior: smooth;
  min-width: 100%;
}

:root {
  /* Dark and light mode colors */
  /* bg-colors */
  --background-light: #f6f8fa; /* Your chosen light background color */
  --text-light: #333333; /* Your chosen light text color */
  --accent-light: #6bd6ea; /* Your chosen light accent color */
  --bg-dark-color: #111f41;
  --dark-font-color: #6bd6ea;
  --light-font-color: #000;
  --bg-dark-section: rgb(7 16 45);
  --bg-light-section: #ffffff;

  /* nav styleing */
  --bg-dark-nav: rgba(11, 24, 68, 0.808);
  --bg-light-nav: #f3f3f3b7;
  --font-dark-nav:  #6bd7eae1;
  --font-dark-hover-nav:  #00d9ffd0;

  /* hero section */
  --bg-hero: #e8f0f9; 

  /* sections colors */
  --bg-section-light: #ffffff;

  /* tools */
  --bg-dark-tool: #1a3064;
  --font-dark-tool: #00d7ff;

}


/* light & dark theme */


/* dark mode */
body.dark-mode {
  background-color: var(--bg-dark-color);
  color: var(--dark-font-color);
}

.navbar.dark-mode {
  background-color: var(--bg-dark-nav);
  color: var(--dark-font-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link.dark-mode {
  color: var(--dark-font-color);

}

.nav-link.dark-mode:hover {
  color: var(--font-dark-hover-nav);

}
/* light mode */
body {
  padding: 0;
  margin: 0;
  /* background-color: var(--bg-light-color); */
  font-family: 'Source Sans 3', sans-serif;
  font-family: 'Courier New', Courier, monospace;
  /* color: var(--light-font-color); */
  /* overflow-x: hidden; */
  --sb-track-color: #232E33;
  --sb-thumb-color: #6bd6ea;
  --sb-size: 3px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);

}

/* Scroll bar setting  */
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

/* Navbar Styling */
.navbar {
  background-color: var(--background-light);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1000;
}

.nav-links {
  display: flex;
}
.nav-links li {
  margin: 10px;
  list-style: none;
}

.nav-links a {
  color: var(--text-light);
  text-decoration: none;
  margin: 12px;
  font-weight: 600;
  font-size: 24px;
}

.nav-links a:hover {
  color: var(--accent-light);
  /* color: var(--font-light-hover-nav); */
}


.contribute-nav a {
  color: #000;
  text-decoration: none;
}


.theme-btn {
  /* margin-right: 50px; */
}

.darkThemeBtn * {
  transition: all 0.3s;
}

.darkThemeBtn input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkThemeBtn label {
  border: 1px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 10px;
  height: 46px;
  width: 46px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.darkThemeBtn label:active {
  border-radius: 5px;
}

.darkThemeBtn label svg {
  position: absolute;
  width: 16px;
  transition: 0.3s;
  z-index: 1;
  fill: #dacd1f;
}

.darkThemeBtn label svg.sun {
  width: 20px;
  opacity: 0;
  fill: #333128;
}

.darkThemeBtn label svg.moon {
  opacity: 1;
}

.darkThemeBtn input:checked+label {
  background: #dadee770;
}

.darkThemeBtn input:checked+label svg.sun {
  opacity: 1;
}

.darkThemeBtn input:checked+label svg.moon {
  opacity: 0;
}

.darkThemeBtn input:checked~span {
  background-color: #16174b;
}

/* hero section */
.hero-section {
  background: var(--bg-hero); 
  color: var(--text-light); /* Text color */
  text-align: center;
  padding: 100px 20px; /* Adjust padding as needed */
}

.hero-section.dark-mode {
  background-color: var(--bg-dark-color);
  color: var(--dark-font-color);
}

.hero-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  color: #007bff; /* Button text color */
  background: #fff; /* Button background color */
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}
.cta-button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  /* Light mode styles */
  background-color: #6bd6ea; /* Light mode background */
  color: #333; /* Light mode text color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Light mode shadow */
}

.cta-button:hover {
  background-color: #0056b3; /* Hover background color for both modes */
  color: #fff; /* Hover text color for both modes */
}

.cta-button.dark-mode  {
  /* Dark mode styles */
  background-color: #3a456b; /* Slightly lighter blue for contrast */
  color: var(--background-light);
  box-shadow: none;
}

.cta-button.dark-mode:hover {
  background-color: #283555; /* Darker blue on hover */
  color: var(--font-dark-hover-nav);

}

/* tools section */
#tools {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.dev-tools ul {
  display: grid; /* Consider grid layout */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust grid columns as needed */
  gap: 10px;
  padding: 10px;
}

.dev-tools ul li {
  pointer-events: all;
  display: flex;
  align-items: center;
  height: 40px; /* Increase height for better readability */
  width: auto;
  margin: 5px; /* Reduce margin */
  padding: 10px 15px; /* Adjust padding */
  list-style: none;
  border-radius: 8px; /* Reduce border-radius for a cleaner look */
  background-color: #f5f5f5; /* Add subtle background */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.dev-tools ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #333; /* Darker text color */
  font-size: 16px; /* Increase font size */
  line-height: 1.5; /* Increase line height */
}

.dev-tools ul li:hover {
  background-color: #e1e5f2; /* Hover effect */
  color: #111; /* Adjust text color on hover */
  cursor: pointer;
}


.dev-tools ul li a:hover {
  background-color: #e1e5f2; /* Hover effect */
  color: #111; /* Adjust text color on hover */
}
.navigationLink.dark-mode {
  color: var(--font-dark-tool);
  background: var(--bg-dark-tool);
}

/* contributing section */
.contribution-section {
  height: 80vh;
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  box-shadow: rgb(0,0,0.1);
}

/* contribute section dark mode */
.contribution-section.dark-mode {
  background-color: var(--bg-dark-section);
}


.section-heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.section-text {
  margin: 45px;
  font-size: 18px;
  line-height: 1.5;
}

.contributing-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.contributing-btn:hover {
  background-color: #2980b9;
}

footer {
  height: 80px;
  /* Adjusted height for better responsiveness */
  background-color: var(--background-light);
  color: var(--text-light);
  &:hover {
    color: var(--accent-light);
  }
  min-width: 100%;
}

footer.dark-mode {
  background: var(--bg-dark-color);
}
/* the sections titles */
.section-title {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

#line-span {
  width: 40%;
  border: 1px solid #000;
}

#tool-title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  width: 18%;
}


/* contribute section */
#contribute {
  margin: 40px 20px;
  padding: 20px;
  /* background-color: rgb(7 16 45); */
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* Responsive design */
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links a {
    font-size: 12px;
  }

  .navbar .logo img {
    height: 55px;
  }

  .nav-links li {
    margin: 0;
  }

  .nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  /* theme */
  .theme-btn {
    margin-right: 28px;
  }

  .darkThemeBtn label {
    height: 36px;
    width: 36px;
  }

  /* hero */
  #devlab-hero {
    margin-left: 15px;
    font-weight: 700;
    font-size: 50px;
  }

  #animate-text {
    width: 18em;
  }


  /* tools */
  #tools {
    height: auto;
  }
}

@media only screen and (min-width: 769px) {
  /* For tablets: */

}

@media only screen and (min-width: 992px) {
  /* For desktop: */

  /* navbar */
  .navbar .logo img {
    height: 101px;
  }

  .nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
  }
  .nav-links li{
    list-style: none;
    text-decoration: none;
  } 

  .light-dark-theme {
    margin: 10px;
    padding: 7px;
  }
}