html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #f1faee;
  font-family: 'Source Sans 3', sans-serif;
  font-family: 'Courier New', Courier, monospace;

}

/* Navbar Styling */
.navbar {
  height: 100px;
  background-color: #006d77;
  color: #e63946;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  z-index: 1000;
}

.navbar .logo img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 10px;
}

.nav-links a {
  color: #f1faee;
  text-decoration: none;
}

.nav-links a:hover {
  color: #29e5f7;
}

.contribute-nav {
  margin: 15px;
  padding: 7px;
  height: 20px;
  background-color: #f7f7f7;
  border-radius: 100px;
}

.contribute-nav a {
  color: #000;
  text-decoration: none;
}


/* hero section */
.hero {
  background-color: #086375;
  padding-top: 10px;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

#animate-text {
  color: #f1faee; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

#animate-text :nth-child(2){
  animation: type2 8s steps(60, end);
}



@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

/* tools section */
#tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dev-tools ul {
  display: flex;
  flex-wrap: wrap;
}

.dev-tools ul li {
  display: flex;
  align-items: center;
  height: 20px;
  width: auto;
  margin: 10px;
  padding: 10px;
  list-style: none;
  background-color: #086375;
  border-radius: 100px;
}

.dev-tools ul li a {
  text-decoration: none;
  color: #e1e5f2;
}


/* contributing section */
.contribution-section {
  height: 50vh;
  background-color: #f5f5f5; /* Lighter background for contrast */
  padding: 40px;
  text-align: center;
}

.section-heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.section-text {
  font-size: 18px;
  line-height: 1.5;
}

.contributing-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.contributing-btn:hover {
  background-color: #2980b9;
}

footer {
  height: 80px; /* Adjusted height for better responsiveness */
  background-color: #1d3557;
}

/* the sections titles */
.section-title {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
#line-span {
  width:40%;
  border: 1px solid #000;
}
#tool-title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  width: 18%;
}


/* contribute section */
#contribute {
  margin: 40px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive design */
@media only screen and (max-width:480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
}

.navbar .logo {
    margin-bottom: 10px;
}

.nav-links {
    margin-top: 10px;
}

.contribute-nav {
    display: none;
}

}
